{% extends 'base.html' %}
{% block content %}
{% include "books/books_nav.html" %}
    <div>손님전화: {{object.guest_phone}}</div>
    <div>확인: {{object.updated|date:"SHORT_DATE_FORMAT"}}</div>
    <div>매매가: {{object.price}}만원</div>
    <div>면적: {{object.area_m2}}m2</div>
    <div>방: {{object.room}}개</div>
    <div>주차: {{object.parking}}</div>
    <div>E.V.: {{object.elevator}}</div>
    <div>비고: {{object.description}}</div>

    <a href="{% url 'customers:house-dealing-customer-update' object.pk %}">손님 정보 수정</a>
{% endblock content %}
