{% extends 'base.html' %}
{% block content %}
{% include "books/books_nav.html" %}
    <div>주소: {{object.address}}</div>
    <div>권리금: {{object.right_deposit}}만원</div>
    <div>보증금: {{object.deposit}}만원</div>
    <div>월세: {{object.mondiv_fee}}만원</div>
    <div>관리비: {{object.management_fee}}만원</div>
    <div>면적: {{object.area_m2}}m2</div>
    <div>집주인: {{object.owner_phone}}</div>
    <div>세입자: {{object.tenant_phone}}</div>
    <div>주차: {{object.parking}}</div>
    <div>E.V.: {{object.elevator}}</div>
    <div>공실: {{object.empty}}</div>
    <div>Naver: {{object.naver}}</div>
    <div>현재매물: {{object.not_finished}}</div>
    <div>완료매물: {{object.finished}}</div>
    <div>비고: {{object.description}}</div>

    <a href="{% url 'books:store-lease-update' object.pk %}">매물 정보 수정</a>
{% endblock content %}
